@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

6. 991px
11. 575px

******************************/

/************
6. 991px
************/

@media only screen and (max-width: 991px) {

    .box {
        width: 100%;
    }

    .box:not(:last-child) {
        margin-bottom: 60px;
    }

    .about {
        margin-top: 28px;
    }

    .about_background {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: -50px;
    }

    .about_image {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .about_image img {
        max-width: 100%;
    }

    .about_content {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .test_1 {
        margin-top: 106px;
        margin-bottom: 82px;
    }

    .test_content {
        padding-left: 25px;
    }

    .gallery_slider_container {
        width: 150%;
        left: -25%;
    }

    .blog_col:not(:last-child) {
        margin-bottom: 60px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {

    .video_icon {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .video_icon i {
        font-size: 8px;
    }

    .video_text {
        font-size: 14px;
    }

    .blog {
        padding-top: 244px;
    }

    .testimonials {
        padding-top: 244px;
    }
}