{% extends 'base.html' %}
{% load static %}

{% block title %}Главная|Fitrun{% endblock %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_responsive.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="home">
        <div class="background_image" style="background-image: url({% static 'images/index.jpg' %})"></div>
        <div class="overlay"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
{#                            <div class="video_link">#}
{#                                <a class="vimeo video_button d-flex flex-column align-items-center justify-content-center" href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0">#}
{#                                    <div class="video_link_content d-flex flex-row align-items-center justify-content-start">#}
{#                                        <div class="video_icon d-flex flex-column align-items-center justify-content-center">#}
{#                                            <i class="fa fa-play" aria-hidden="true"></i>#}
{#                                        </div>#}
{#                                        <span class="video_text">See Workout Video</span>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </div>#}
                            <div class="home_title">Построй свой идеал</div>
                            <div class="home_subtitle">Пилатес, йога, фитнес, спиннинг и многое другое</div>
{#                            <div class="home_subtitle">#}
{#                                ЗАРЯДИСЬ ЭНЕРГИЕЙ ДЛЯ НОВЫХ СВЕРШЕНИЙ#}
{#                                ТРЕНАЖЕРНЫЙ ЗАЛ | ГРУППОВЫЕ ПРОГРАММЫ | ФИТНЕС#}
{#                            </div>#}
{#                            <div class="button home_button ml-auto mr-auto">#}
{#                                <a href="#">Присоединиться</a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="boxes_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                        <div class="box">
                            <div class="box_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="{% static 'images/icon_1.png' %}" alt="">
                            </div>
                            <div class="box_title">Пилатес с тренером <br><br></div>
                            <div class="box_text">
                                <p>Представляет собой серию упражнений в медленном темпе. Как и у других видов фитнеса,
                                    кроссфита
                                    или физкультуры, результатом регулярных занятий пилатесом становятся оздоровление
                                    суставов и укрепление мышц, снятие напряжений и болей в теле, коррекция веса,
                                    улучшение осанки, нормализация сна, улучшение самочувствия.
                                </p>
                            </div>
                            <div class="box_link_container">
                                <a href="{% url 'order' %}"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="{% static 'images/icon_2.png' %}" alt="">
                            </div>
                            <div class="box_title">Занятия в басейне<br><br></div>
                            <div class="box_text">
                                <p>Однa из caмыx пoпуляpныx фopм физичecкoй aктивнocти вo вceм миpe. Блaгoдapя нaличию
                                    бacceйнoв люди мoгут плaвaть кpуглый гoд нa peгуляpнoй ocнoвe. Пoмимo удoвoльcтвия,
                                    ecть мнoгo пpичин, пo кoтopым люди пoceщaют бacceйн. Пpeждe вceгo, этo уникaльнaя
                                    вoзмoжнocть улучшaть caмoчувcтвиe, нeзaвиcимo oт пoлa, вoзpacтa, нaвыкoв.
                                </p>
                            </div>
                            <div class="box_link_container">
                                <a href="{% url 'order' %}"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="{% static 'images/icon_3.png' %}" alt="">
                            </div>
                            <div class="box_title">План здорового питания</div>
                            <div class="box_text">
                                <p>Повлиять на собственное здоровье можно контролируя то, что мы едим. Повысить тонус,
                                    увеличить продолжительность жизни и прийти в форму поможет здоровое питание.
                                    Именно поэтому занятия фитнесом и правильно подобранная диета — это идеальная
                                    комбинация.Правильное питание – это то, чего следует придерживаться в течение всей
                                    жизни.
                                </p>
                            </div>
                            <div class="box_link_container">
                            <a href="{% url 'order' %}"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container about_container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about_content">
                        <div class="section_title_container">
                            <div class="section_subtitle">О компании</div>
                            <div class="section_title"><span>FITRUN</span></div>
                        </div>
                        <div class="text_highlight">Какая-то информация про компанию, чем занимается и так далее</div>
                        <div class="about_text">
                            <p> Это современный спортклуб высочайшего уровня. Здесь вы не просто покупаете абонемент -
                                вы приобретаете ключ к здоровому образу жизни, становитесь членом нашей семьи. Забота о
                                вашем физическом и психологическом здоровье для нас на первом месте! Наш важнейший
                                принцип - индивидуальный подход. Квалифицированные тренеры и инструкторы составят план
                                тренировок, дадут рекомендации и проведут индивидуальные занятия. Тренерский состав -
                                это дипломированные специалисты и профессиональные спортсмены.
                            </p>
                        </div>
                        <div class="button about_button"><a href="{% url 'order' %}">Присоединиться</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_background">
            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col-lg-6 offset-lg-6 fill_height">
                        <div class="about_image"><img src="{% static 'images/a1.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/testimonials.jpg' %}" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_title_container">
                        <div class="section_subtitle">FitRun</div>
                        <div class="section_title">Отзывы</div>
                    </div>
                    <div class="test test_1 d-flex flex-row align-items-start justify-content-start">
                        <div><div class="test_image"><img src="{% static 'images/test_1.jpg' %}" alt=""></div></div>
                        <div class="test_content">
                            <div class="test_name">
                                <a href="#">Диана Смит</a>
                            </div>
                        <div class="test_title">клиент</div>
                        <div class="test_text">
                            <p>
                                Для меня Fitrun не просто место, куда приходишь потягать железо, попрыгать и
                                    попотеть, чтобы отработать съеденную вкусняшку ) Это пространство, где заряжаешься
                                    энергией. Обратившись к любому сотруднику, будь то тренер, администратор или бармен,
                                    всегда можно рассчитывать на улыбку и участие. Перешагивая порог, каждый раз
                                    понимаю, что сегодня смогу сделать, больше чем думала. К этому располагает всё :
                                    и уютная лаконичная обстановка , и высококачественные тренажеры, и профессиональный
                                    тренерский состав. И выйдя с тренировки, я знаю, что стала лучше, чем та же я двумя
                                    часами ранее. Спасибо Вам большое за работу!
                            </p>
                        </div>
                        <div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="test d-flex flex-row align-items-start justify-content-start">
                        <div><div class="test_image"><img src="{% static 'images/test_2.jpg' %}" alt=""></div></div>
                        <div class="test_content">
                            <div class="test_name"><a href="#">Марк Сименс</a></div>
                            <div class="test_title">клиент</div>
                            <div class="test_text">
                                <p>Начал ходить в зал две недели назад. Друг порекомендовал (сам здесь занимается).
                                    Шикарный клуб. Очень доволен спортивной атмосферой зала. Персонал просто на высоте.
                                    Хожу к Вам с большим удовольствием. Спасибо. Так держать !!!
                                </p>
                            </div>
                            <div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        </div>
                    </div>
                    <div class="test d-flex flex-row align-items-start justify-content-start">
                        <div><div class="test_image"><img src="{% static 'images/test_3.jpg' %}" alt=""></div></div>
                        <div class="test_content">
                            <div class="test_name"><a href="#">Кэти Мирстен</a></div>
                            <div class="test_title">клиент</div>
                            <div class="test_text">
                                <p>
                                        Спасибо огромное команде фитнес-клуба "Fitrun" за прекрасную энергетику в клубе.
                                    Посещаю вас второй месяц. Очень нравится уровень тренеров. Да и общая атмосфера очень
                                    приятная. Есть такие места, где приятно находиться, этот клуб как раз из них. Вчера
                                    затащила подругу, теперь тренируемся вместе.
                                </p>
                            </div>
                            <div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row test_button_row">
                <div class="col text-center">
                    <div class="button test_button"><a href="404">Оставить отзыв</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery_slider_container">
            <div class="owl-carousel owl-theme gallery_slider">
                <div class="owl-item"><img src="{% static 'images/gallery_3.jpg' %}" alt=""></div>
                <div class="owl-item"><img src="{% static 'images/gallery_4.jpg' %}" alt=""></div>
                <div class="owl-item"><img src="{% static 'images/gallery_5.jpg' %}" alt=""></div>
                <div class="owl-item"><img src="{% static 'images/gallery_1.jpg' %}" alt=""></div>
                <div class="owl-item"><img src="{% static 'images/gallery_2.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_subtitle">добро пожаловать в FitRun</div>
                        <div class="section_title">Наши курсы</div>
                    </div>
                </div>
            </div>
            <div class="row services_row">
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_4.png' %}" alt=""></div></div>
                            <div class="service_title">Класс снижения веса</div>
                        </div>
                        <div class="service_text">
                            <p>это интенсивная групповая фитнес-тренировка на все группы мышц, состоящая из комплекса
                                упражнений, предназначенных для людей, которые стремятся привести свои мышцы
                                в хороший тонус.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_5.png' %}" alt=""></div></div>
                            <div class="service_title">Класс йоги</div>
                        </div>
                        <div class="service_text">
                            <p>Тренировка, состоящая из специальных упражнений, выполняющихся в определенном порядке.
                                Укрепляет и растягивает мышцы, сухожилия и связки, способствует достижению душевного и
                                физического равновесия. Исправляет осанку. Развивает гибкость.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_6.png' %}" alt=""></div></div>
                            <div class="service_title">Класс кроссфита</div>
                        </div>
                        <div class="service_text">
                            <p>спортивное движение, основанное на философии многостороннего физического развития.
                                Эксперты определяют кроссфит как систему подготовки, развивающую все физические качества
                                атлета – выносливость, силу, скорость, гибкость, координацию. При этом средства
                                достижения данных качеств могут быть самыми разными. Занятия обычно включают в себя
                                сменяющие друг друга круговые тренировки различной направленности: тяжелая и легкая
                                атлетика, пауэрлифтинг, фитнес, классическая гимнастика, гиревой спорт.
                            </p>
                        </div>
                    </div>
                </div>
                 <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_7.png' %}" alt=""></div></div>
                            <div class="service_title">Персональные тренировки</div>
                        </div>
                        <div class="service_text">
                            <p>Это объективно лучший способ достижения поставленной цели и решения таких задач,
                                как уменьшение жировой прослойки, увеличение мышечной массы, повышение выносливости,
                                улучшение мышечного тонуса, развитие гибкости, силы и многое другое. Тренировка под
                                руководством профессионального тренера это залог 100% успеха!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_8.png' %}" alt=""></div></div>
                            <div class="service_title">Класс по питанию</div>
                        </div>
                        <div class="service_text">
                            <p>Повлиять на собственное здоровье можно контролируя то, что мы едим. Повысить тонус,
                                увеличить продолжительность жизни и прийти в форму поможет здоровое питание. Именно
                                поэтому занятия фитнесом и правильно подобранная диета — это идеальная комбинация.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div><div class="service_icon"><img src="{% static 'images/icon_9.png' %}" alt=""></div></div>
                            <div class="service_title">Класс аэробики</div>
                        </div>
                        <div class="service_text">
                            <p>К Вашим услугам просторный зал аэробики. В клубе представлено более 15 групповых программ
                                с использованием специального оборудования и без него. Кроме того, в каждом направлении
                                есть занятия как для начинающих, так и для гурманов аэробики. Классы для начинающих
                                очень бережно вводят вас в тренировочный процесс. В нашем Клубе каждый может найти себе
                                занятие по душе и выбрать из большого количества предложенного то, что соответствует
                                темпераменту, уровню подготовленности, желанию или просто, вашему настроению.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="blog_overlay"></div>
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/blog.jpg' %}" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row align-items-start justify-content-start">
                        <div class="section_title_container">
                            <div class="section_subtitle">добро пожаловать FitRun</div>
                            <div class="section_title">Блог</div>
                        </div>
                        <div class="all_posts_link ml-auto"><a href="{% url 'blog' %}">Открыть все публикации</a></div>

                    </div>
                </div>
            </div>
            <div class="row blog_row">
                <div class="col-lg-4 blog_col">
                    <div class="blog_post">
                        <div class="blog_post_image"><img src="{% static 'images/blog_1.jpg' %}" alt=""></div>
                        <div class="blog_post_title"><a href="404">Советы для построения идеального тела</a></div>
                        <div class="blog_post_date"><a href="#">29 марта, 2020</a></div>
                        <div class="blog_post_text">
                            <p>Небольшое описание статьи...</p>
                        </div>
                        <div class="blog_post_link"><a href="404">Читать польностью...</a></div>
                    </div>
                </div>
                <div class="col-lg-4 blog_col">
                    <div class="blog_post">
                        <div class="blog_post_image"><img src="{% static 'images/blog_2.jpg' %}" alt=""></div>
                        <div class="blog_post_title"><a href="404">Советы для построения идеального тела часть 2</a></div>
                        <div class="blog_post_date"><a href="#">29 марта, 2020</a></div>
                        <div class="blog_post_text">
                            <p>Небольшое описание статьи...</p>
                        </div>
                        <div class="blog_post_link"><a href="404">Читать польностью...</a></div>
                    </div>
                </div>
                <div class="col-lg-4 blog_col">
                    <div class="blog_post">
                        <div class="blog_post_image"><img src="{% static 'images/blog_3.jpg' %}" alt=""></div>
                        <div class="blog_post_title"><a href="404">Видео: Пилатес для начинающих</a></div>
                        <div class="blog_post_date"><a href="#">29 марта, 2020</a></div>
                        <div class="blog_post_text">
                            <p>Небольшое описание статьи...</p>
                        </div>
                        <div class="blog_post_link"><a href="404">Читать польностью...</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}