{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги|Fitrun{% endblock %}
{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'js/services.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="home">
        <div class="background_image" style="background-image:url({% static 'images/services.jpg' %})"></div>
        <div class="overlay"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">Услуги</div>
                            <div class="home_subtitle">Мы учли интересы каждого клиента. Основное преимущество нашего фитнес-центра — многозадачность.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_subtitle">добро пожаловать FITRUN</div>
                        <div class="section_title">Наши занятия</div>
                    </div>
                </div>
            </div>
            <div class="row services_row">
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_4.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Занятия по уменьшению веса</div>
                        </div>
                        <div class="service_text">
                            <p>это интенсивная групповая фитнес-тренировка на все группы мышц, состоящая из комплекса
                                упражнений, предназначенных для людей, которые стремятся привести свои мышцы
                                в хороший тонус.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_5.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Занятия йогой</div>
                        </div>
                        <div class="service_text">
                            <p>Тренировка, состоящая из специальных упражнений, выполняющихся в определенном порядке.
                                Укрепляет и растягивает мышцы, сухожилия и связки, способствует достижению душевного и
                                физического равновесия. Исправляет осанку. Развивает гибкость.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_6.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Занятия кроссфитом</div>
                        </div>
                        <div class="service_text">
                            <p>спортивное движение, основанное на философии многостороннего физического развития.
                                Эксперты определяют кроссфит как систему подготовки, развивающую все физические качества
                                атлета – выносливость, силу, скорость, гибкость, координацию. При этом средства
                                достижения данных качеств могут быть самыми разными. Занятия обычно включают в себя
                                сменяющие друг друга круговые тренировки различной направленности: тяжелая и легкая
                                атлетика, пауэрлифтинг, фитнес, классическая гимнастика, гиревой спорт.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_7.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Персональные тренировки</div>
                        </div>
                        <div class="service_text">
                            <p>Это объективно лучший способ достижения поставленной цели и решения таких задач,
                                как уменьшение жировой прослойки, увеличение мышечной массы, повышение выносливости,
                                улучшение мышечного тонуса, развитие гибкости, силы и многое другое. Тренировка под
                                руководством профессионального тренера это залог 100% успеха!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_8.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Правильное питание</div>
                        </div>
                        <div class="service_text">
                            <p>Повлиять на собственное здоровье можно контролируя то, что мы едим. Повысить тонус,
                                увеличить продолжительность жизни и прийти в форму поможет здоровое питание. Именно
                                поэтому занятия фитнесом и правильно подобранная диета — это идеальная комбинация.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 service_col">
                    <div class="service">
                        <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                            <div>
                                <div class="service_icon"><img src="{% static 'images/icon_9.png' %}" alt=""></div>
                            </div>
                            <div class="service_title">Занятия аэробикой</div>
                        </div>
                        <div class="service_text">
                            <p>К Вашим услугам просторный зал аэробики. В клубе представлено более 15 групповых программ
                                с использованием специального оборудования и без него. Кроме того, в каждом направлении
                                есть занятия как для начинающих, так и для гурманов аэробики. Классы для начинающих
                                очень бережно вводят вас в тренировочный процесс. В нашем Клубе каждый может найти себе
                                занятие по душе и выбрать из большого количества предложенного то, что соответствует
                                темпераменту, уровню подготовленности, желанию или просто, вашему настроению.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="timetable">
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{% static 'images/timetable.jpg' %}" data-speed="0.8"></div>
        <div class="tt_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_subtitle">добро пожаловать FITRUN</div>
                        <div class="section_title">Расписание занятий</div>
                    </div>
                    <div class="timetable_filtering">
                        <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <li class="active item_filter_btn" data-filter="*">Все занятия</li>
                            <li class="item_filter_btn" data-filter=".weight_loss">Жиросжигание</li>
                            <li class="item_filter_btn" data-filter=".aerobics">Аэробика</li>
                            <li class="item_filter_btn" data-filter=".crossfit">Кроссфит</li>
                            <li class="item_filter_btn" data-filter=".fitness">Фитнес</li>
                            <li class="item_filter_btn" data-filter=".yoga">Йога</li>
                            <li class="item_filter_btn" data-filter=".pilates">Пилатес</li>
                            <li class="item_filter_btn" data-filter=".stretching">Гимнастика</li>
                        </ul>
                    </div>

                    <div class="timetable_container d-flex flex-sm-row flex-column align-items-start justify-content-sm-between justify-content-start">

                        <div class="tt_day">
                            <div class="tt_title">Понедельник</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item weight_loss">
                                    <div class="tt_class_title">Жиросжигание</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Вторник</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item weight_loss">
                                    <div class="tt_class_title">Жиросжигание</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">8:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">12:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Среда</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item crossfit">
                                    <div class="tt_class_title">Кроссфит</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">17:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Четверг</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item fitness">
                                    <div class="tt_class_title">Фитнес</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class grid-item yoga">
                                    <div class="tt_class_title">Йога</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">12:00</div>
                                </div>

                                <div class="tt_class grid-item pilates">
                                    <div class="tt_class_title">Пилатес</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Пятница</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item yoga">
                                    <div class="tt_class_title">Йога</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Суббота</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item weight_loss">
                                    <div class="tt_class_title">Жиросжигание</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item pilates">
                                    <div class="tt_class_title">Пилатес</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">13:00</div>
                                </div>
                            </div>
                        </div>

                        <div class="tt_day">
                            <div class="tt_title">Воскресенье</div>
                            <div class="tt_day_content grid">

                                <div class="tt_class grid-item stretching">
                                    <div class="tt_class_title">Гимнастика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">9:00</div>
                                </div>

                                <div class="tt_class grid-item aerobics">
                                    <div class="tt_class_title">Аэробика</div>
                                    <div class="tt_class_instructor">Джесика Смит</div>
                                    <div class="tt_class_time">10:00</div>
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>

                                <div class="tt_class empty grid-item">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="extra d-flex flex-column align-items-center justify-content-center text-center">
        <div class="background_image" style="background-image:url({% static 'images/extra_wide.jpg' %})"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="extra_title">Скидка 15%</div>
                        <div class="extra_text">
                            <p>Описание на что скидка и т.д. ...</p>
                        </div>
                        <div class="button extra_button"><a href="{% url 'order' %}">Присоединитья</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}