{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Fitrun|SignIn{% endblock %}
{% block content %}
    <div class="home">
        <div class="overlay">
            <div class="home_container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn home_button pull-right">Войти</button>
                            </form>
                            <a href="{% url 'sign-up' %}">Ещё нет аккаунта?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}