{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Fitrun|SignIn{% endblock %}
{% block content %}
    <div class="sign_in">
            <div class="sign_in_container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3">
                        <div class="card mb-3 card-body">
                            <div class="card-body">
                                <h3 class="text-center text-uppercase"><b>Вход в аккаунт</b></h3>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button type="submit" class="btn sign_button pull-right">Войти</button>
                                </form>
                                <a href="{% url 'sign-up' %}">Ещё нет аккаунта?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}