{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Регистрация|Fitrun{% endblock %}
{% block content %}
    <div class="sign_up">
            <div class="sign_up_container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3">
                        <div class="card mb-3 card-body">
                            <div class="card-body">
                                <h3 class="text-center text-uppercase"><b>Регистрация аккаунта</b></h3>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_form user_form %}
                                    {% bootstrap_form person_form %}
                                    <button type="submit" class="btn sign_button pull-right">Зарегистрироваться</button>
                                </form>
                                <a href="{% url 'sign-in' %}">Уже есть аккаунт?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}